@model Financa.Models.BuscaMovimentacaoModel

@using (Html.BeginForm("Busca", "Movimentacao", FormMethod.Get))
{
    <div class="row">
        <fieldset>
            <legend>Data Movimentacao</legend>
            <div class="col-sm-6">
                @Html.LabelFor(b => b.DataMinima, "Minima:")
                @Html.TextBoxFor(b => b.DataMinima, new { @class = "form-control" })
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(b => b.DataMaxima, "Maxima:")
                @Html.TextBoxFor(b => b.DataMaxima, new { @class = "form-control" })
            </div>

        </fieldset>

        <fieldset>
            <legend>Valor Movimentacao</legend>
            <div class="col-sm-6">
                @Html.LabelFor(b => b.ValorMinimo, "Minima:")
                @Html.TextBoxFor(b => b.ValorMinimo, new { @class = "form-control" })
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(b => b.ValorMaximo, "Maximo:")
                @Html.TextBoxFor(b => b.ValorMaximo, new { @class = "form-control" })
            </div>

        </fieldset>


        <fieldset>
            <legend>Usuario e Tipo</legend>
            <div class="col-sm-6">
                @Html.LabelFor(b => b.Tipo, "Tipo:")
                @Html.EnumDropDownListFor(b => b.Tipo, new { @class = "form-control" })
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(b => b.IdUsuario, "Usuario:")
                @Html.DropDownListFor(b => b.IdUsuario, new SelectList(Model.Usuarios, "ID", "Nome"), "Escolha um Usuario")
            </div>

        </fieldset>

    </div>

    <input type="submit" value="Consultar" />   
}






<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Data</th>
            <th>Valor</th>
            <th>Tipo</th>
            <th>Usuario</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model.Movimentacaos)
        {
            <tr>
                <td>@m.ID</td>
                <td>@m.Data</td>
                <td>@m.Valor</td>
                <td>@m.Tipo </td>
                <td>@m.Usuario.Nome</td>
            </tr>
        }
    </tbody>


</table>
